@use '../../library' as lib; 

header{
width: 100%;
// background-color: white;
color: lib.$forest;
text-align: center;
font-size: 1.3rem;
font-weight: bold;
display: flex;
justify-content: center;
align-items: center;
}
.main-header{
    height: 10vh;
    min-height: 70px;
    h1{
        margin: 5px;
    }
    .main-header__select-area{
        width: 60%;
        color: lib.$forest;
        font-weight: normal;
    }
}